<!--
{% for lang in site.languages %}
  {% assign lang_name = site.data[lang].strings.lang_name %}
  {% if lang == site.active_lang %}
{{ lang_name }}
  {% else %}
    {% if lang == site.default_lang %}
<a href=" {{ page.url }}">{{ lang_name }}</a>
    {% else %}
<a href="/{{ lang }}{{ page.url }}">{{ lang_name }}</a>
    {% endif %}
  {% endif %}
  {% if forloop.last == false %}
  |
  {% endif %}
{% endfor %}
-->

{% if page.title %}
<a href="/">All</a> 
{% else %}
All
{% endif %}
| 
{% for category in site.categories %}
  {% if category[0] == page.title %}
  {{ category[0] }}
  {% else %}
  <a href="/topic/{{ category[0] }}">{{ category[0] }}</a>
  {% endif %}
  {% if forloop.last == false %}
  |
  {% endif %}
{% endfor %}